<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>typescript练习</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .content {
        height: 100vh;
        width: 100vw;
        display: grid;
        place-items: center;
        background-image: linear-gradient(90deg, blue, cyan);
      }
      .gradient-title {
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h2 class="gradient-title">程序正在运行...</h2>
    </div>
  </body>
</html>
